<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>AppEventos | Edita Evento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="icon" th:href="@{/logo.png}">

</head>

<body onload="myTamanhoDescricao()">

<header th:insert="header :: header"></header>

<nav class="shadow py-3 mb-4 border-bottom nav nav-pills">

    <div class="container d-flex flex-wrap justify-content-center">

        <ul class="nav me-auto">

            <li class="nav-item"><a href="/" class="nav-link link-dark px-2 " aria-current="page">Home</a>
            </li>

            <li class="nav-item"><a href="/cadastrarEvento" class="nav-link link-dark px-2">Adicionar evento</a>
            </li>

            <li class="nav-item"><a href="/seus-eventos" class="nav-link link-dark px-2 active">Seus eventos</a>
            </li>

            <li class="nav-item"><a th:href="${link}" th:text="${texto}" class="nav-link link-dark px-2"></a></a>
            </li>

        </ul>

    </div>

</nav>

<div th:insert="modais :: modais"></div>

<div class="mb-5 container py-6">
    <h1>Editar evento</h1>
    <p>

    <form class="col-sm-6" method="post" th:each="evento : ${evento}">

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${evento.nome}" name="nome">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Local:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:value="${evento.local}" name="local">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Data:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:value="${evento.data}" name="data">
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Horario:</label>
            <div class="col-sm-10">
                <input type="time" class="form-control" th:value="${evento.horario}" name="horario">
            </div>
        </div>
        <div class="form-floating">
				<textarea id="descricao" onkeyup="myTamanhoDescricao()" class="form-control" placeholder="Descrição do evento" th:text="${evento.descricao}"
                          style="height: 100px" name="descricao"></textarea>

            <label >Descrição do evento:</label>
            <p>
                <label><span id="tamanhoDescricao">0</span> de no máximo 255 caracteres.</label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a class="btn btn-danger" href="/seus-eventos">Cancelar</a>
        </div>
    </form>

</div>

<script>
function myTamanhoDescricao() {
  var descricao = document.getElementById("descricao");
   document.getElementById("tamanhoDescricao").innerHTML = descricao.value.length;
}
</script>

<footer th:insert="footer :: footer"></footer>

</body>
</html>